.container > div {
    background-color: #FFFFFF;
    margin-bottom: 10px;
}

.carousel-item > img {
    width: 100%;
    height: 100%;
}

.top-action > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
}
.top-action > div > div:first-child {
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
}

.card{
    justify-content: space-between !important;
    padding: 5px;
}
.card-item{
    justify-content: center;
}
.card-item div{
    text-align: center;
    width: 50%;
}

.card-item > div > div{
    width: 90%;
}

.card-item > div > div:first-child{
    height: 150px;
    background-image: url("http://39.98.190.128/mall-app/images/mainpage/u103.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin:5px 10px;
}

.more {
    color: #B9B9B9;
}

.more i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../img/svg/more.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.top-action > div:first-child > div:first-child {
    background-image: url("../img/svg/topic.svg");
}

.top-action > div:nth-child(2) > div:first-child {
    background-image: url("../img/svg/preferential.svg");
}

.top-action > div:nth-child(3) > div:first-child {
    background-image: url("../img/svg/optimization.svg");
}

.top-action > div:nth-child(4) > div:first-child {
    background-image: url("../img/svg/sign.svg");
}