.carousel-item {
    background-size: cover;
    background-image: url("../img/background.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}