/*

公共样式

 */
html {
    font-size: 62.5%; /***设置html根节点字体大小为10px**/
}

body, html {
    background-color: #EDEDED;
    height: 100%;
}

.flex-box {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    align-items: center;
}


.container {
    padding-bottom: 3.5rem;
    height: 100%;
    overflow-y: scroll;
}

/**底部导航栏样式**/
.bottom-navigator img {
    width: 25px;
    height: 25px;
}

.bottom-navigator > div {
    text-align: center;
}

.bottom-navigator {
    width: 100%;
    color: #7300BC;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #FBFBFB;
    padding: 5px 0;
    z-index: 99999;
    justify-content: space-around !important;
}