.container {
    -fx-background-image: url(../assets/login_bk.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-color: #5C75FF;
}

.title {
    -fx-text-fill: #5C75FF;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.content {
    -fx-spacing: 1.5em;
    -fx-max-width: 30em;
    -fx-max-height: 30em;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #ebeef5;
    -fx-border-width: 0.1em;
    -fx-border-radius: 0.5em;
}
.content > HBox{
    -fx-alignment: CENTER;
}
.action {
    -fx-pref-width: 29em;
    -fx-background-color: #5C75FF;
    -fx-pref-height: 3em;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 0.3em;
    -fx-font-size: 1.2em;
}
.jfx-text-field,.jfx-password-field{
    -fx-pref-width: 29em;
}