* {
    -fx-font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
}
.oops {
    -fx-text-fill: #409eff;
    -fx-font-size: 2em;
}

.title01 {
    -fx-font-size: 1.5em;
    -fx-text-fill: rgb(96,98,102);
}